{% embed 'partials/base.html.twig' %}
	{% set collection = page.children %}
	{% set base_url = page.url %}
  {% set feed_url = base_url %}
	{% if base_url == '/' %}
  {% set base_url = '' %}
    {% endif %}

    {% if base_url == base_url_relative %}
        {% set feed_url = base_url~'/'~page.slug %}
    {% endif  %}

	{% block content %}
	<nav class="sous-menu-objets">
		<ul>
			<li class="selected"><a href="{{page.url}}">{{ page.title }}</a></li>
			{% for p in page.children if p != page %}
			<li><a href="{{p.url}}">{{ p.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>
            <div class="row">
                <div class="list-objets">
                    {% for child in collection %}
                        {% include 'partials/blog_item.html.twig' with {'page':child, 'truncate':true} %}
                    {% endfor %}

                </div>

            </div>
	{% endblock %}



{% endembed %}
