<div class="menu-complet">
{% include 'partials/header.html.twig' %}
  <div class="marquee">
    <div>
      <span> {{ page.content|raw }}</span>
      </div>
  </div>
</div>
<div class="content-actu">

    {% block content %}

      {% for image in page.media.images %}
        {{ image.derivatives(320,1920,400).sizes('(max-width:48em) 100vw, 70vw').html()|raw }}
      {% endfor %}
    </div>
    {% endblock %}
{% include 'partials/footer.html.twig' %}
