{% embed 'partials/base.html.twig' %}
	{% set collection = page.parent.children %}
	{% set base_url = page.url %}
  {% set feed_url = base_url %}
	{% if base_url == '/' %}
  {% set base_url = '' %}
    {% endif %}

{% block header %}
<div class="menu-complet">
	{% include 'partials/header.html.twig' %}
		<nav class="sous-menu-objets">
		<button id="element1" class="openbtn" onclick="inSituMenu('mobileMenu'); changeText(1)">Index</button>
				<ul class="filter__section hide" id="mobileMenu">
				<li data-class="all" class="active">All</li>
				{% set taxlist = taxonomylist.get() %}
				{% for tax,value in taxlist %}
				{% for v in value|keys %}

					<li data-class="{{v}}">{{v}}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</nav>
	</div>
	{% endblock %}

	{% block content %}
      <div class="container">

				<div class="content-img">

						{% for image in page.media.images %}
						<figure class="{{image.meta.tag}} gallery__type" data-class="{{image.meta.tag}}">
							{{ image.derivatives(320,1920,400).sizes('(max-width:48em) 100vw, 70vw').lightbox(11680,1050).cropResize(300,300).html()|raw }}
							<figcaption>
								<p><i>{{image.meta.title}}</i>,{{image.meta.date}}</p>
								<p>{{image.meta.caption}}</p>
							</figcaption>
						</figure>
						{% endfor %}
					</div>
  		</div>

	{% endblock %}
{% endembed %}
