{% block content %}
<div class="menu-complet">
  {% include 'partials/header.html.twig' %}
  {% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}
  {% import _self as macro %}

{% block javascripts %}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/singlepagenav.min.js') %}
    {% endif %}
{% endblock %}

    <ul class="navigation-about">
      {% for module in page.collection() %}
      {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
        <li>
          <a class="{{ current_module }}" href="#{{ macro.pageLinkName(module.menu)}}">{{ module.menu }}</a>
        </li>
      {% endfor %}
    </ul>
</div>
    <div id="about" class="about">
      {% for module in page.collection() %}
        {{ module.content|raw }}
        {% endfor %}
    </div>

  {% include 'partials/footer.html.twig' %}
{% endblock %}
