<div class="menu-complet">
  {% include 'partials/header.html.twig' %}
</div>
<div class="project-in-situ">
    {% block content %}
    <nav class="sous-menu in-situ">
     <button id="element1" class="openbtn" onclick="inSituMenu('mobileMenu'); changeText(1)">Index</button>
      <ul class="list hide" id="mobileMenu">
        {% for p in page.parent.children %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        <li class="{{ current_page|e }}">
          <a href="{{p.url}}"><h2>{{ p.title }}</h2>
          <span>{{p.header.legend}}</span></a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="contenu">
			<details>
				<summary> <h2>{{ header.title}}(...) ↴</h2> </summary>
      	<div class="description-projet">
        	{{page.content|raw}}
      	</div>
			</details>
      <section class="image">
        {% for image in page.media.images %}
          {{image.derivatives(320,1920,400).sizes('(max-width:48em) 100vw, 70vw').html()|raw}}
        {% endfor %}
      </section>
  </div>
    {% endblock %}
</div>

{% include 'partials/footer.html.twig' %}
