/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
  --main-color: transparent;
  --bg-color: #ececec;
  --color-2: #fafaf7;
  --color-3: #f1ece7;
  --color-links: #b84e13;
  --color-links-op: #b84e1350;
  --colors-subMenu: #29465f;
  --color-bdf: #ffffff8f;
}


@font-face {
  font-family: 'Overpass-reg';
  font-style:  normal;
  font-weight: 100;
  src: url(fonts/OverpassMono-Regular.ttf) format('truetype');

}

@font-face {
  font-family: 'Overpass-bold';
  font-style:  normal;
  font-weight: 200;
  src: url(fonts/OverpassMono-SemiBold.ttf) format('truetype');
}
/* Core Stuff */
html{
    font-size: 12px;
}
body {
  color: var(--colors-subMenu);
  max-width: 100%;
  font-family: 'Overpass-reg';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  background-color: var(--color-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Overpass-reg';
}
h2{
  color:var(--colors-subMenu);
  font-weight: normal;
  font-size: 1em;
}
a {
  color: #b84e13;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
}
blockquote {
}
.menu-complet{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}
/* Utility Classes */
.wrapper {
    margin: 0rem;
    width: 100vw;
}

.padding {
    padding: 0rem 0rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 0rem 0;
}
.header {
  padding: 0px 16px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 5px 15px -1px var(--color-links-op);
  background-color: var(--color-bdf);
  backdrop-filter: blur(9px);
}
.header a{
  font-family: 'Overpass-reg';
  color: var(--colors-subMenu);
}

.header .logo {
  width: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  align-content: center;
}
.footer {
}
/* Menu Settings */
.main-nav{
	width: auto;
	max-width: 1920px ;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}
.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
    width: 24%;
    text-align: center;
}
.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 4rem;
    white-space: nowrap;
    color: var(--color-links);
    text-decoration: none;
}
.main-nav ul li a:hover {
   color: var(--color-links);
   text-decoration: underline;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}
/*Active dropdown nav item */
.main-nav ul li:hover > a {
  color: #b24e23;
  text-decoration: none;
}
/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
}
/* Dropdown CSS */
.main-nav ul li {position: relative;}
.main-nav ul li ul {
    position: absolute;
    min-width: 100%;
    text-align: left;
    z-index: 999;
    display: none;
}
.main-nav ul li ul li {
    display:none;
}
/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}
/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}
/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}
.main-nav .has-children .has-children > a:after {
    content: '\f105';
}



/* template objets */
.content-img{
	position: absolute;
	top: 10rem;
	display: flex;
	margin: 0 3rem;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.content-img figure {
    margin: 1rem 0.5rem;
    padding: 0;
    color: #74778d;
}
.content-img figure:nth-of-type(even) {
}
.content-img figure img{
  padding: .25vw;
}
figcaption p {
  margin: 0;
  padding:  0 .5rem;
  font-size: 1em;
}
figcaption p i{
  font-style: italic;
  line-height: 1.5rem
}
.gallery__type{
}
.tag {
  background: var(--color-links);
  border: 1px solid var(--color-links);
  color: var(--color-2) !important;
  box-shadow: 0px 5px 15px -1px var(--color-links-op);
}
.sous-menu-objets{
  width: 100%;
  background-color: var(--color-bdf);
  backdrop-filter: blur(9px);
}
.sous-menu-objets ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: #445194;
}
.sous-menu-objets li{
  list-style: none;
  text-decoration: none;
  padding:1rem;
}
.sous-menu-objets ul li{
  list-style: none;
  list-style-type: none;
  text-transform: lowercase;
  }
.sous-menu-objets ul li a, .sous-menu-objets ul li a:hover{
  color: var(--color-links);
  text-decoration: none;
}
.sous-menu-objets ul .selected a {
  color: var(--color-links);
  border-radius: 80%;
  border-left: 1px solid;
  padding: .5vw;
  background: var(--color-2);
}

ul.filter__section{
    display: flex;
    width: 100vw;
}
ul.filter__section li {
    list-style-type: none;
    cursor: pointer;
}
ul.filter__section .active, ul.filter__section li:hover {
     background: var(--color-links);
     color: var(--color-2);
   }


nav.sous-menu-objets button#element1.openbtn{
display: none;
}
/* template home */
.content-actu{
  margin-top: 15vh;
}
  .marquee {
    height: 25px;
    width: 300%;
    overflow: hidden;
    box-sizing: border-box;
  	background-color: var(--color-bdf);
  	backdrop-filter: blur(9px);
    z-index: -1;
    position: relative;
  }
  .marquee div {
    display: block;
    width: 300%;
    position: absolute;
    overflow: hidden;
    animation: marquee 80s linear infinite;
    font-size: 1rem;
    color: var(--color-links);
    line-height: 0;
    margin: 0;
  }
  .marquee div span {
    float: left;
    width: auto;
  }
  .marquee div:hover {
    animation-play-state: paused
  }
  .marquee div span a{
  	text-decoration: none;
  }
  .marquee div span a:hover{
  	text-decoration: underline;
  	text-underline-position: under;
  }


  @keyframes marquee {
    0% { left: 0%; }
    100% { left: -100%; }
  }
.content-actu img:nth-of-type(2n+1) {
  width: 30%;
  margin-bottom: -30%;
}
.content-actu img:nth-of-type(odd) {
	width: 60%;
	margin-bottom: -30%;
  mix-blend-mode: color-burn;
}
.content-actu img:nth-of-type(even){
	width: 40%;
	margin-left: 50vw;
	margin-top: -5%;
	margin-bottom: -5%;
  mix-blend-mode: exclusion;
}
.content-actu img:nth-of-type(1) {
	width: 50vw;
	margin-left: 2vw;
	margin-top: -5vh;
}
.content-actu img:nth-of-type(4) {
	width: 20%;
	margin-left: 80vw;
	margin-top: -25vh;
}
.content-actu img:nth-last-child(1) {
	margin-bottom: 0;
	margin-left: 30vw;
	position: relative;
	z-index: -2;
}
.content-actu img{
  transition: width .2s linear .1s;
}
.content-actu img:hover{
    mix-blend-mode: difference;
}


/* template about */
.about{
  margin: 5vh 0vw 0vw 5vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.2rem;
  width: 50% ;
}
.bio, .contact, .text{
  width: 100vw;
  padding: 10vh 0vw 0vw 0vw;
}
.about h3{
    color: var(--color-links);
    line-height: normal;
    border-radius: 137%;
    /* border: 1px solid; */
    width: fit-content;
    background-color: var(--color-2);
    padding: 1rem 4rem;
    z-index: 3000;
    box-shadow: 0px 0px 75px 5px;
}
.about strong{
    color: white;
    font-weight: normal;
    background: #29465f4f;
    line-height: normal;
    border-radius: 60%;
    padding: 0 2rem;
    box-shadow: 0px 0px 45px 45px #29465f4f;
    /* border: 1px solid; */
    width: fit-content;
    z-index: -663;
    /* background-color: var(--main-color);*/

}
.about ul li{
	list-style: circle;
	margin-left: 1rem;
}
.navigation-about{
  list-style: none;
  width: 100%;
  background-color: var(--color-bdf);
  backdrop-filter: blur(9px);
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.navigation-about li{
    list-style: none;
    padding: 10px;
}
.navigation-about li a{
  color: #445194;
}


/* template insitu */


.project-in-situ{
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}
.sous-menu{
  padding: 0;
  height: 100vh;
  width: 15vw;
  background: #ffffff;
  position: fixed;
  top: 4rem;
}
.sous-menu .selected a h2, .sous-menu a h2{
  padding-top: 0;
  transition: height .25s;

}
.sous-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  width: inherit;
  background-color: var(--color-bdf);
  backdrop-filter: blur(9px);
}
.sous-menu li{
  display: inline-block;
  padding: 4px 0px 4px 16px;
  width: inherit;
  color: #445194;
}
.sous-menu li a{
  margin: 0px;
  line-height: normal;

}
.sous-menu.in-situ .selected {
  background-color: white;
  border-top: 1px solid var(--color-links-op);
  box-shadow: 0px 9px 15px -4px #b84e1350;
  padding:4px 0px 4px 16px;
}

.sous-menu.in-situ .selected a span {
  display: block;
  padding:4px 0px 4px 0px;
}
.sous-menu .selected a{
  color: #74778d;

}
nav.sous-menu.in-situ li a span{
  display: none;
  color: #74778d;
  font-size: 0.9rem;
  height: 1.5rem;

}
nav.sous-menu.in-situ li:hover a span{
  display: block;
}
nav.sous-menu.in-situ li:hover{
  transition: height 500ms;
  border-top: 1px solid var(--color-links-op);
  box-shadow: 0px 9px 15px -4px #b84e1350;
}
.sous-menu ul li:hover, .sous-menu ul li:hover a {
  list-style: none;
  text-decoration: none;
  background-color: var(--color-2);

}

nav.sous-menu.in-situ button#element1.openbtn {
	display: none;
}
.contenu{
  margin: 20vh 0vw 0vh 20vw;
  width: 90vw;
}
.contenu details{
  position: fixed;
  top:10vh;
  left:20vw;
  width: auto;
}
details summary {
  cursor: pointer;
  transition: margin 0ms ease-out;
}
.contenu details[open] summary::after{
  content:"✕";
  padding: 5px;
}
.contenu details summary h2:hover{
  background: var(--color-links);
  color: var(--color-3);
  padding: 5px;
  cursor: pointer;
}
.contenu details summary h2{
  padding: 5px;
  margin: 0;
}
.contenu details[open] summary:hover{
  color: var(--color-links);
  background: var(--color-3);
  cursor: pointer;
}
.contenu details[open] summary{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color:var(--color-links);
  padding: 0;
}
.contenu details summary, .contenu details[open] summary{
  background: var(--color-3);
  color: var(--colors-subMenu);
}
.contenu details[open] {
  box-shadow: 0px 5px 15px -1px var(--color-links-op);
  background: var(--color-3);

}
.description-projet{
  width: auto;
  color:var(--colors-subMenu);
  padding: 10px 10px 10px 10px;
}
.description-projet p {
	max-width: 60%;
}
.contenu details h2{
  color:var(--colors-subMenu);
  font-weight: normal;
  font-size: 1em;
}
.image img{
  height: 80vh;
  margin-bottom: 1rem;
}

@media (max-width: 1180px) {
	nav.sous-menu.in-situ{
		width: 24vw;
	}
	.contenu{
		margin: 20vh 0vw 0vh 26vw;
	}
	.contenu details {
		left: 26vw;
	}
}


@media (max-width: 820px) {
  .marquee{
    width: 800%;
  }
  .image img {
    height: auto;
  }
  .contenu {
    margin: 0vh 0vw 0vw 0vw;
    width: auto;
  }
  .sous-menu{
    width: 100%;
    height: auto;
    top: 3rem;
    background: none;
    z-index: 2000;
  }
  nav.sous-menu-objets{
  	background-color: inherit;
  }

  ul#mobileMenu.filter__section.hide li{
  	display: none;
  }

  ul#mobileMenu.filter__section.hideshow{
    position: absolute;
    padding: 1rem 20%;
    display: block;
    width: 100vw;
    top: 3rem;
    background-color: var(--color-bdf);
    backdrop-filter: blur(9px);
}
nav.sous-menu-objets button#element1.openbtn{
	top: 0rem;
	display: block;
}

nav.sous-menu.in-situ ul.list {
	width: 100%;
	margin-top: 4rem;
}
.description-projet p {
	max-width: 100%;
}

.about{
	width: 90%;
}


.sidebar .closebtn {
  	position: absolute;
  	font-size: 15px;
	margin-left:16px;
}
nav.sous-menu.in-situ button#element1.openbtn {
    display: block;
}

.openbtn {
	padding: 1rem;
    border: none;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 4rem;
    font-size: 1em;
    color: #445194;
    box-shadow: 0px 5px 15px -1px var(--color-links-op);
    background-color: var(--color-bdf);
  	backdrop-filter: blur(9px);
}


button{
	padding: 0px;
}

.hide{
	display: none;
}
.show{
	display: block;
	z-index: 20;
}

nav.sous-menu.in-situ li a span{
	display: block;
}

.contenu details{
    position: fixed;
    top: 6.8rem;   
    width: 100%;
    left: 0;
  }
}

section.image{
	margin-top: 12rem;
}





/*PRINT*/


@media print {
  /* All your print styles go here */
  .menu-complet,
  .navigation-about {
    display: none !important;
  }
  body{

  	color: black;
  	background-color: white;
  }
  #bio{
    columns: 8cm 2;

  }
  .about h3, 
  .about strong{
  	top: 0;
  	color: black;
  	box-shadow: none;
  	border: none;
  }
  @page{
  	size: A4;
  	margin: 10mm; 

  }

}

