{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <p>© mountaincutters, all the work is protected by copyright, 2016.</p>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
