<main class="about">
  {% block content %}
  {% include '../partials/header.html.twig' %}
  <nav class="sous-menu about">
    <ul class="list">
      {% for p in page.parent.children if p != page %}
      <li><a href="{{p.url}}">{{ p.title }}</a></li>
      {% endfor %}
      </ul>
    </nav>

  <div class="contenu">
    <h3> {{ header.title}} </h3>
    <div class="text">
      {{ header.text}}
    </div>
  </div>
  {% include '../partials/footer.html.twig' %}
  {% endblock %}
</main>
