/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FONTS */

    /* COUSINE */

@font-face {
    font-family: 'cousinebold';
    src: url('fonts/cousine-bold-webfont.woff2') format('woff2'),
         url('fonts/cousine-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cousinebold_italic';
    src: url('fonts/cousine-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/cousine-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cousineitalic';
    src: url('fonts/cousine-italic-webfont.woff2') format('woff2'),
         url('fonts/cousine-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cousineregular';
    src: url('fonts/cousine-regular-webfont.woff2') format('woff2'),
         url('fonts/cousine-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Core Stuff */

body {
    font-family: 'cousineregular', monospace;
    font-size: 1rem;
    line-height: 1.7;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    border: 1px solid;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

pre {
}
blockquote {
}

/* Utility Classes */
.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 1rem 0;
}

.header {

}

.header a {

}

.header .logo {

}

.footer {

}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {

}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {

}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    min-width: 100%;
    text-align: left;
    z-index: 999;
    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '⤵';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}
.content-img{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content-img img{
  width: 12vw;
}
